@font-face {
  font-family: "MSSansSerif";
  src: url("MSSansSerif.ttf") format("truetype");
}

.App {
  /* text-align: center; */
}

body {
  background-color: #008080;
  font-family: MSSansSerif !important;
}
* {
  font-family: MSSansSerif !important;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.split-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#split-footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
}

#start-menu {
  position: fixed;
  bottom: 3em;
}
